@inherits LayoutComponentBase
@using ViewModels;

@inject BarCodeViewModel Vm
<div>
    <MatAppBarContainer Style="width:100%;">
        <MatAppBar Fixed="true" Style="width:100%;">
            <MatAppBarRow>
                <MatAppBarSection>
                    <MatIconButton Icon="menu" OnClick="@((e)=>ButtonClicked())"></MatIconButton>
                    <MatAppBarTitle>BarCode Utilities</MatAppBarTitle>
                </MatAppBarSection>
            </MatAppBarRow>
        </MatAppBar>

        <MatAppBarContent>
            <MatDrawerContainer>
                <MatDrawer @bind-Opened="@Vm.Opened" Mode="@MatDrawerMode.Dismissible" Style="height:92vh" Class="fit-content">
                    <MatList>
                        <MatListGroupSubHeader>Barcodes</MatListGroupSubHeader>
                        <MatList>
                            <MatListItem Href="">Dashboard</MatListItem>
                            <MatListItem Href="add">Create New</MatListItem>
                        </MatList>

                    </MatList>
                </MatDrawer>
                <MatDrawerContent Style="overflow-y:visible">
                    <div class="container main">
                        @Body
                    </div>

                </MatDrawerContent>
            </MatDrawerContainer>
        </MatAppBarContent>
    </MatAppBarContainer>
</div>

@functions{

    void ButtonClicked()
    {
        Vm.Opened = !Vm.Opened;
        StateHasChanged();
    }
}
